<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gdocument.gtracergps.launcher"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8"/> 
 
    <!-- Usable for GPS Localisation -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<!-- 
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET"/>
   	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
 -->
    <!-- Usable for SD Card Writing -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.GTracerGpsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="org.gdocument.gtracergps.launcher.receiver.LocationChangedReceiver" android:process=":remote"/>
        <!-- 
		<receiver android:name="org.gdocument.gtracergps.launcher.receiver.LocationChangedReceiver" android:process=":remote">
   			<intent-filter>
				<action android:name="org.gdocument.gtracergps.location.changed"></action>
			</intent-filter>
	    </receiver>
		-->
    </application>
</manifest>